{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="page-header">
    <h1>{% trans 'Certificates' %} <small><a href="{% url 'certificate_create' %}">{% trans 'Add new certificate' %}</a> - <a href="{% url 'certificate_search' %}">{% trans 'Search certificates' %}</a></small></h1>
</div>
{% if not certificates %}
<div class="alert alert-warning" role="alert">
    <p><b>No certificate found!</b> Click <a href="{% url 'certificate_create' %}">here</a> to add one.</p>
</div>
{% else %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>{% trans 'Validation code' %}</th>
            <th>{% trans 'Course' %}</th>
            <th>{% trans 'Student' %}</th>
            <th>{% trans 'Date/Time' %}</th>
            <th>{% trans 'Created by' %}</th>
            <th>{% trans 'Is valid?' %}</th>
            <th>{% trans 'Options' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for certificate in certificates %}
        {% if certificate.invalidated %}
        <tr class="danger">
        {% else %}
        <tr>
        {% endif %}
            <td>{{ certificate.validation_code }}</td>
            <td>{{ certificate.enrollment.course.name }}</td>
            <td>{{ certificate.enrollment.student.name }}</td>
            <td>{{ certificate.date_time }}</td>
            <td>{{ certificate.created_by }}</td>
            <td>
                {% if certificate.invalidated %}
                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> {% trans 'no' %}
                {% else %}
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {% trans 'yes' %}
                {% endif %}
            </td>
            <td>
                <div class="btn-group" role="group">
                    <a class="btn btn-default btn-xs" href="{% url 'certificate_detail' certificate.id %}">
                      <span class="glyphicon glyphicon glyphicon-list" aria-hidden="true"></span>
                    </a>
                    {% if not certificate.invalidated %}
                    <a class="btn btn-default btn-xs" href="{% url 'certificate_invalidate' certificate.id %}">
                      <span class="glyphicon glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                    </a>
                    {% endif %}
                    <a class="btn btn-default btn-xs" href="{% url 'certificate_delete' certificate.id %}">
                      <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}

