{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12 rc-validation">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Códigio de conferência">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Validar certificado</button>
            </span>
        </div><!-- /input-group -->
        <p class="rc-help-text">Dolor error corrupti natus facere laboriosam sed facilis tempore accusamus inventore non? Excepturi reprehenderit ipsam numquam maiores veniam.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <a class="btn btn-default" href="#" role="button">Registrar certificado</a>
            <a class="btn btn-default" href="#" role="button">Consultar certificados</a>
            <a class="btn btn-default" href="#" role="button">Anular registro</a>
            <a class="btn btn-default" href="#" role="button">Relatórios</a>
          </div>
    </div>
</div>
{% endblock %}
