{% extends 'base.html' %}

{% block content %}

<div class="page-header">
    <h1>Students <small><a href="{% url 'student_create' %}">Cadastrar novo aluno</a></small></h1>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Birthday</th>
            <th>Nationality</th>
            <th>RG</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.birthday }}</td>
            <td>{{ student.nationality }}</td>
            <td>{{ student.rg }}</td>
            <td>
                <div class="btn-group" role="group">
                    <a class="btn btn-default btn-sm" href="{% url 'student_update' student.id %}">
                      <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                    <a class="btn btn-default btn-sm" href="{% url 'student_delete' student.id %}">
                      <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

