{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <p>{% blocktrans %}Are you sure you want to delete the student {{ student }}?{% endblocktrans %}</p>
    {% if enrollments %}
    <p>{% trans 'The following enrollments will be deleted:' %}</p>
    <ul>
        {% for enroll in enrollments %}
           <li><b>{{ enroll.course }}</b> - {{ enroll.student }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="btn-group" role="group">
        <input type="submit" class="btn btn-danger" value="{% trans 'Confirm' %}" />
        <input type="button" class="btn btn-default" onclick="history.back(-1)" value="{% trans 'Cancel' %}" />
    </div>
</form>

{% endblock %}
