{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}

{% if not courses_form.courses %}
<div class="alert alert-danger" role="alert">
    <p>To create a new student, at leat one course should be added first. Click <a href="{% url 'course_create' %}">here</a> to create a new course.</p>
</div>
{% else %}
<form method="post" class="form-horizontal">
    {% csrf_token %}

    {% include 'core/student/form_snippet.html' %}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-primary">{% trans 'Add new student' %}</button>
                <button class="btn btn-default" onclick="history.back(-1)">{% trans 'Cancel' %}</button>
            </div>
        </div>
    </div>
</form>
{% endif %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'bootstrap-3-datepicker/css/datepicker3.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'bootstrap-3-datepicker/js/locales/bootstrap-datepicker.pt-BR.js' %}"></script>
<script src="{% static 'bootstrap-3-datepicker/js/bootstrap-datepicker.js' %}"></script>

<script>
$('.date input').datepicker({
    format: "dd/mm/yyyy",
    todayBtn: "linked",
    language: "pt-BR",
    autoclose: true,
    todayHighlight: true
});
</script>
{% endblock %}

