{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
<div class="page-header">
    <h2>{% trans 'Edit student' %}</h2>
</div>

<form method="post" class="form-horizontal">
    {% csrf_token %}

    {% include 'core/student/form_snippet.html' %}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-primary">{% trans 'Edit student' %}</button>
                <a href="javascript:history.back()" class="btn btn-default">{% trans 'Cancel' %}</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'bootstrap-3-datepicker/css/datepicker3.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'bootstrap-3-datepicker/js/locales/bootstrap-datepicker.pt-BR.js' %}"></script>
<script src="{% static 'bootstrap-3-datepicker/js/bootstrap-datepicker.js' %}"></script>

<script>
$('.date input').datepicker({
    format: "dd/mm/yyyy",
    todayBtn: "linked",
    language: "pt-BR",
    autoclose: true,
    todayHighlight: true
});
</script>
{% endblock %}


