{% extends 'base.html' %}

{% load i18n %}
{% load widget_tweaks %}

{% block content %}

{% if not courses_form.courses %}
<div class="alert alert-danger" role="alert">
    <p>To create a new student, at leat one course should be added first. Click <a href="{% url 'course_create' %}">here</a> to create a new course.</p>
</div>
{% else %}
<form method="post" class="form-horizontal">
    {% csrf_token %}

    {% include 'core/student/form_snippet.html' %}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-primary">{% trans 'Edit student' %}</button>
                <button class="btn btn-default" onclick="history.back(-1)">{% trans 'Cancel' %}</button>
            </div>
        </div>
    </div>
</form>
{% endif %}
{% endblock %}
