{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="page-header">
    <h1>{% trans 'Details' %}
        <div class="btn-group" role="group">
            {% if not certificate.invalidated %}
            <a class="btn btn-default btn-sm" href="{% url 'certificate_invalidate' certificate.id %}">
                <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> {% trans 'invalidate' %}
            </a>
            {% endif %}
        </div>
    </h1>
</div>
<div class="row">
  <div class="col-md-4">
      <dl>
        <h2>{% trans 'Certificate' %}</h2>
        <dt>{% trans 'Verification code' %}</dt>
        <dd>{{ certificate.verification_code }}</dd>
        <dt>{% trans 'Date' %}</dt>
        <dd>{{ certificate.verification_code_date_time }}</dd>
        <dt>{% trans 'Created by' %}</dt>
        <dd>{{ certificate.created_by.first_name }} {{ certificate.created_by.last_name }}</dd>
        <hr>
        <dt>{% trans 'Certificate number' %}</dt>
        <dd>{{ certificate.certificate_number }}</dd>
        <dt>{% trans 'Book number' %}</dt>
        <dd>{{ certificate.book_number }}</dd>
        <dt>{% trans 'Book sheet' %}</dt>
        <dd>{{ certificate.book_sheet }}</dd>
        <dt>{% trans 'Book date' %}</dt>
        <dd>{{ certificate.book_date }}</dd>
        <dt>{% trans 'Process Number' %}</dt>
        <dd>{{ certificate.process_number }}</dd>
        <dt>{% trans 'Accreditation' %}</dt>
        <dd>{{ certificate.accreditation }}</dd>
        <dt>{% trans 'Executive director' %}</dt>
        <dd>{{ certificate.executive_director }}</dd>
        <dt>{% trans 'Educational secretary' %}</dt>
        <dd>{{ certificate.educational_secretary }}</dd>
      </dl>
    </div>
    <div class="col-md-4">

      <dl>
        <h2>{% trans 'Course' %}</h2>
        <dt>{% trans 'Course' %}</dt>
        <dd>{{ certificate.course_name }}</dd>
        <dt>{% trans 'Duration' %}</dt>
        <dd>{{ certificate.course_duration }} {% trans 'hours' %}</dd>
        <dt>{% trans 'Start date' %}</dt>
        <dd>{{ certificate.course_start_date }}</dd>
        <dt>{% trans 'End date' %}</dt>
        <dd>{{ certificate.course_end_date }}</dd>
           </div>
    <div class="col-md-4">
        <h2>{% trans 'Student' %}</h2>
        <dt>{% trans 'Student' %}</dt>
        <dd>{{ certificate.student_name }}</dd>
        <dt>{% trans 'Birthday' %}</dt>
        <dd>{{ certificate.student_birthday }}</dd>
        <dt>{% trans 'Nationality' %}</dt>
        <dd>{{ certificate.student_nationality }}</dd>
        <dt>{% trans 'Place of birth' %}</dt>
        <dd>{{ certificate.student_place_of_birth }}</dd>
        <dt>{% trans 'RG' %}</dt>
        <dd>{{ certificate.student_rg }}</dd>

    </dl>
  </div>
</div>

{% endblock %}
