{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
<div class="page-header">
    <h2>{% trans 'Search certificates' %}</h2>
</div>
<form method="get">

    <p>{% trans 'Search certificates by:' %}</p>


    {% if form.non_field_errors %}
    <div class="alert alert-warning" role="alert">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    {% if form.verification_code.errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.verification_code.errors }}
    </div>
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        {% for option in form.search_options %}
            <div class="radio">
                {{ option }}
            </div>
        {% endfor %}

        {{ form.search_text | add_class:'form-control' }}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">{% trans 'Search' %}</button>
    </div>
</form>
<hr>

{% if certificates %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>{% trans 'Verification code' %}</th>
            <th>{% trans 'Course' %}</th>
            <th>{% trans 'Student' %}</th>
            <th>{% trans 'Date/Time' %}</th>
            <th>{% trans 'Created by' %}</th>
            <th>{% trans 'Is valid?' %}</th>
            <th>{% trans 'Options' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for certificate in certificates %}
        {% if certificate.invalidated %}
        <tr class="danger">
        {% else %}
        <tr>
        {% endif %}
            <td>{{ certificate.verification_code }}</td>
            <td>{{ certificate.course_name }}</td>
            <td>{{ certificate.student_name }}</td>
            <td>{{ certificate.verification_code_date_time }}</td>
            <td>{{ certificate.created_by.first_name }} {{ certificate.created_by.last_name }}</td>
            <td>
                {% if certificate.invalidated %}
                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> {% trans 'no' %}
                {% else %}
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {% trans 'yes' %}
                {% endif %}
            </td>
            <td>
                <div class="btn-group" role="group">
                    <a class="btn btn-default btn-xs" href="{% url 'certificate_detail' certificate.id %}">
                      <span class="glyphicon glyphicon glyphicon-list" aria-hidden="true"></span>
                    </a>
                    {% if not certificate.invalidated %}
                    <a class="btn btn-default btn-xs" href="{% url 'certificate_invalidate' certificate.id %}">
                      <span class="glyphicon glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                    </a>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% if invalid %}
    <div class="alert alert-warning" role="alert">
        <b>Nenhum certificado encontrado!</b> Verifique se os dados digitados estão
corretos.
    </div>
{% endif %}
{% endblock %}
