{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}

<div class="page-header">
    {% if certificate %}
        <h1>{% trans 'Certificate valid' %}
        {% else %}
        <h1>{% trans 'Certificate not found' %}
    {% endif %}
    </h1>
</div>

{% if certificate %}
<p class="lead">Confirmamos que o certificado de Pós-Graduação
Lato Sensu em <b>{{ certificate.course_name }}</b> de <b>{{ certificate.student_name }}</b> emitido pelo Instituto
Legislativo Brasileiro em <b>{{ certificate.book_date }}</b>,
sob número de <b>{{ certificate.verification_code }}</b>, <b>{{ certificate.verification_code_date_time }}</b>, está cadastrado em
nossa base de dados. Esta declaração não substitui a
verificação de autenticidade do certificado.</p>
<p><i>{% now "d/m/Y H:i" %}</i></p>

{% else %}
<div class="alert alert-warning" role="alert">
<h4>Certificado não cadastrado sob o código
de conferência (CC) "<b>{{ verification_code }}</b>".</h4>
<p>Verifique se os dados digitados estão
corretos ou entre em contato com o ILB.</p>
</div>
{% endif %}

{% endblock %}
